@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html,
body {
  padding: 0;
  /*margin: 0;*/
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.info-modal .modal-content{
  width: 250px !important;
  text-align: center !important;
  margin-left: 15% !important;
  border-radius: 1rem !important;
}

.lista_modal{
  border-radius: 1rem !important;
}

.card-body{
  padding-right:1rem !important
}

.row{
  --bs-gutter-x:0 !important
}

figure{
  margin: 0 0 0 !important;
}

.modal-500w{
  width: 50vw;
  max-width: 50vw;
}