.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.flexCol{
    justify-content: flex-start;
    border: 1px solid gainsboro;
    padding-bottom: 20px;
}

.flexColChat{
    width: 30%;
    border: 1px solid gainsboro;
}

@media (max-width: 875px) {
  .flexContainer {
    margin-left:0px;
    margin-right:0px;
    margin-top: 10px;
  }
  .flexCol{
      border: 0
  }
  .flexColChat{
        width: 100%;
        border: 0;
    }
}