.active{
    border-top:1px solid black !important;
    color:black !important
}

.inactive{
    color:gray !important;
}

.expandImg_1{
    position: absolute !important;
    width:177.778%;
    transition:all 0.2s ease 0s;
    padding-top:207px !important;
    cursor:move;
}

.expandImg_0{
    position: absolute !important;
    width:177.778%;
    transition:all 0.2s ease 0s;
    padding-top:207px !important;
    cursor:move;
}